In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('green_tripdata_2019-10.csv')

/var/folders/2s/5z75zsp93qv95xhypbyt6y2h0000gn/T/ipykernel_51314/2156106363.py:1: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('green_tripdata_2019-10.csv')

In [6]:
from sqlalchemy import create_engine

In [9]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [11]:
print(pd.io.sql.get_schema(df, name='green_taxi_data', con=engine))

CREATE TABLE green_taxi_data (
	"VendorID" FLOAT(53),
	lpep_pickup_datetime TEXT,
	lpep_dropoff_datetime TEXT,
	store_and_fwd_flag TEXT,
	"RatecodeID" FLOAT(53),
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	ehail_fee FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	payment_type FLOAT(53),
	trip_type FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [14]:
df.lpep_pickup_datetime = pd.to_datetime(df.lpep_pickup_datetime)
df.lpep_dropoff_datetime = pd.to_datetime(df.lpep_dropoff_datetime)

In [15]:
len(df)

476386

In [16]:
df.head(n=0).to_sql(name='green_taxi_data', con=engine, if_exists='replace', index=False)

# Insert data in chunks
chunksize = 10000  # Adjust based on your system's capabilities
df.to_sql(name='green_taxi_data', con=engine, if_exists='append', index=False, chunksize=chunksize, method='multi')

476386

In [18]:
df2 = pd.read_csv('taxi_zone_lookup.csv')

In [19]:
df2.head(n=0).to_sql(name='zone_lookup', con=engine, if_exists='replace', index=False)

# Insert data in chunks
chunksize = 10000  # Adjust based on your system's capabilities
df2.to_sql(name='zone_lookup', con=engine, if_exists='append', index=False, chunksize=chunksize, method='multi')

265

In [20]:
print(pd.io.sql.get_schema(df2, name='zone_lookup', con=engine))

CREATE TABLE zone_lookup (
	"LocationID" BIGINT,
	"Borough" TEXT,
	"Zone" TEXT,
	service_zone TEXT
)